body{
	margin:0px;
	background-color: black !important;
}

#title_back{
	background-color: rgb(20, 203, 242);
	margin: 0px;
	padding: 2em;
	transition: background 1.0s;
	-webkit-transition: background 1.0s;
	-moz-transition: background 1.0s;
}

#points{
	color: white
}

.center_title{
	text-align:center;
	margin: 0px;
	color: #FFFFFF;
	font-family: 'Sunflower', sans-serif;
}

.navbar-nav{
	width: 70%;
	margin: 0 15%;
}

.controls{
	width: 20%;
	margin: 0 2%;
}

.right-jus{
	width: 10%;
	margin: 0 1%;
	text-align: right;
}

#try-again{
	width: 60%;
	margin: 0 1%;
	text-align: center;
}

#container{
	text-align: center;
	max-width: 600px;
	margin: 2% auto;
	overflow: hidden;
}

.square{
	width: 30%;
	background-color: yellow;
	padding: 15%;
	float: left;
	margin: 1.6%;
	border-radius: 10%;
	display: inline-block;
	transition: background 1.0s;
	-webkit-transition: background 1.0s;
	-moz-transition: background 1.0s;
}